<h1>Login</h1>

<% if @errors.any? %>
      <% @errors.each do |msg| %>
        <!--<li><%#= msg %></li>-->
          
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= msg %>
        </div>
          
      <% end %>
<% end %>

<%= form_tag '/login' do %>
    <div class="field">
      <%= label :user, 'email' %>
      <%= text_field_tag :email, "", class: "form-control" %>
    </div>
    <div class="field">
      <%= label :user, 'password' %>
      <%= password_field_tag :password, "", class: "form-control" %>
    </div>
    <div class="field">
      <%= submit_tag "Submit", class: "btn btn-primary" %>
    </div>
<% end %>