<h1>Signup</h1>

<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @user, :url => '/signup' do |f| %>
    <div class="field">
      <%= label :user, 'name' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= label :user, 'email' %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="field">
      <%= label :user, 'password' %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>

<!-- Created Upload_controlled... May need to be deleted. -->
<%# form_for @user, :method => "post", :url => upload_user_path do |f| %>
  <%#= file_field_tag :file %>
  <%#= submit_tag( "Import" ) %>
<%# end %>
<%= form_for @user, :method => "post", :url => upload_user_path(current_user.id) do |f| %>
    <%= f.file_field :files %>
    <%= f.submit "Upload", class: "btn btn-primary" %>
<% end %>