
<br>

<div class="mainbody container-fluid">
    <div class="row">
        
        
        
        <div class="col-lg-3 col-md-3"><!-- hidden-sm hidden-xs -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <h3><strong><%= @user.name %></strong></h3>
                            <hr>
                            <% if rep_is_positive %>
                                <h3 align="center" style="color:green;"><strong><%= calculate_reputation %></strong></h3>
                            <% else %>
                                <h3 align="center" style="color:red;"><strong><%= calculate_reputation %></strong></h3>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2>Documents</h2>
            <%= form_for @user, :method => "post", :url => upload_user_path do |f| %>
                <%= f.file_field :files %>
                <%= f.submit "Upload", class: "btn btn-primary" %>
            <% end %>
            <div class="list-group">
              <% @user.uploads.each do |upload| %>
                  <a href="<%= '/uploads/' + upload.filename %>" class="list-group-item"><%= upload.filename %></a>
              <% end %>
            </div>

            <h2>Courses</h2>
            
            <div class="list-group">
                <% @user.courses.each do |course| %>
                    <a href="<%= course_path(course.id) %>" class="list-group-item">
                        <span class="badge"><%= course.posts.length %></span>
                        <%= course.title %>
                    </a>
                <% end %>
            </div>
            
            <h2>Posts</h2>
            <% @posts.each do |post| %>
            
                <!-- Simple post content example. -->
                <div class="panel panel-default">
                    
                    <div class="panel-heading">
                        <h3 class="panel-title"> <!-- Course Title -->
                            
                            <strong><span class="label label-default"><%= Course.find(post.course_id).title %></span> <%= link_to post.title, course_post_path(post.course_id, post), style:"text-decoration:none;" %></strong>
                        
                            <% if current_user.id == post.user_id %>
                                <div class="btn-group pull-right">
                                    <div class="dropdown">
                                        <button class="btn btn-link dropdown-toggle" type="button" id="dd1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dd1" style="float: right;">
                                            <li>
                                                <%= link_to edit_course_post_path(post.course, post), class: "glyph-link" do %>
                                                    <span class="glyphicon glyphicon-pencil"></span> <!-- Edit -->
                                                    Edit
                                                <% end %>
                                            </li>
                                            <li>
                                                <%= link_to course_post_path(post.course, post), method: :delete, data: {confirm: 'Are you sure?'}, class: "glyph-link" do %>
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>  <!-- Delete -->
                                                    Delete
                                                <% end %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                        
                        </h3> <!-- /Course Title -->
                    </div>
                    
                    
                    <div class="panel-body">
                        
                        <div class="post-content">
                            <p><%= post.body %></p>
                        </div>
                        
                        <div>
                            <div class="pull-right btn-group-xs">
                                
                                <p> <!-- Upvote | Downvote | Reply | Edit | Delete Buttons. -->
                                  <% if current_user.courses.exists?(post.course) %>
                                      <% vote = current_user.post_votes.vote(post.id) %>
                                      <% if vote == nil || vote.is_upvote == false %>
                                          <%= link_to upvote_course_post_path(post.course, post), class: "glyph-link" do %>
                                              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                              Upvote
                                          <% end %>
                                      <% end %>
                                      <% if vote == nil || vote.is_upvote == true %>
                                          <%= link_to downvote_course_post_path(post.course, post), class: "glyph-link" do %>
                                              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                              Downvote
                                          <% end %>
                                      <% end %>
                            
                                      <a href="#" data-toggle="modal" data-target="#myModal" class="glyph-link">
                                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                        Reply
                                      </a>
                                  <% end %>
                                </p>
                                
                            </div>
                            <br>
                            
                            <!-- Like/Dislike Bar Display -->
                            <p>
                              <div class="progress">
                                
                                  <!-- LIKES -->
                                  <div class="progress-bar progress-bar-success" style="width: <%= get_upvote_percent(post) %>%">
                                    <span class="sr-only">35% Like</span>
                                    <%= post.post_votes.upvote_count %>
                                  </div>
                                
                                  <!-- DISLIKES -->
                                  <div class="progress-bar progress-bar-danger" style="width: <%= get_downvote_percent(post) %>%">
                                    <span class="sr-only">35% Like</span>
                                    <%= post.post_votes.downvote_count %>
                                  </div>
                                  
                              </div>
                            </p>
                            
                        </div>
                        <hr>
                        <div class="media">
                            
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="35px" height="35px" style="margin-left:3px; margin-right:-5px;">
                                </a>
                            </div>
                            
                            
                            <div class="media-body">
                                <%= form_for [post.course, post, post.comments.build] do |f| %>
                                    <div class="input-group">
                                        <%= f.text_field :body, placeholder: "Enter Comment Here", class: "form-control" %>
                                        <span class="input-group-btn">
                                            <%= f.submit class: "btn btn-primary" %>
                                        </span>
                                    </div>
                                <% end %>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            <% end %>
            
            <div>
                <h2>Recently Answered Questions</h2>
                <hr>
                <% @comments.each do |comment| %>
                <strong><span class="label label-default"><%= Course.find(Post.find(comment.post_id).course_id).title %></span> <%= link_to Post.find(comment.post_id).title, course_post_path(Post.find(comment.post_id).course_id, Post.find(comment.post_id)), style:"text-decoration:none;" %></strong>
                <br>
                <% end %>
            </div>
        </div>
    </div>
</div>
