<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Enter title", class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %> 
    <%= link_to @post do %>
				<button type="button" class="btn btn-danger">Cancel</button>
		<% end %>
  </div>
<% end %>
