<% if @course.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @course do |f| %>
    <div class="field">
      <%= label :course, 'title' %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
<% end %>