<% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<h2 class="tab">Title: <%= @course.title %></h2>
<h2 class="tab">Professor: <%= @course.user.name %></h2>

<% if @course.user.id == current_user.id %>
    <%= link_to edit_course_path(@course), class: "glyph-link" do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    <% end %>
<% end %>

<div>
  <% @course.posts.each do |post| %>
      <%= link_to course_post_path(@course, post), class: "list-group-item" do %>
          <strong><%= post.user.name %>:</strong> <%= post.title %>
          <span class="badge"><%= post.comments.count %></span>
      <% end %>
  <% end %>

</div>

<% if current_user.courses.exists?(@course) %>
    <%= link_to image_tag("add-button.jpg", class: "img-circle", id: "add-button"), new_course_post_path(@course) %>
<% end %>