<h1 class="tab"><%= @course.title %></h1>
<p id="notice"><%= notice %></p>

<div>  
  <% @course.posts.each do |post| %>
      <%= link_to course_post_path(@course, post), class: "list-group-item" do %>
        <strong><%= post.user.name %>:</strong> <%= post.title %> <span class="badge"><%= post.comments.count %></span>
      <% end %>
  <% end %>
  
</div>

<%= link_to image_tag("add-button.jpg", class: "img-circle", id: "add-button"), new_course_post_path(@course) %>