<div class="jumbotron" style="margin: 0px;" id="header">
  	<div class="container">
  		<h1>NKU-Net</h1>
  		<p>Welcome to the NKUNet Registrar Portal!</p>
  	</div>
  </div>


  <!-- The navigation/affix bar for the entire page. TODO: Add affix functionality. -->
  <div data-spy="affix" data-offset-top="300">
    
    <nav class="navbar navbar-inverse" id="navbar">
    	<div class="container-fluid">
    	  
    	  <div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<%= link_to courses_path do %>
    			  <%= image_tag "flame.png", class: "navbar-brand" %>
    			<% end %>
    			<b><%= link_to "NKU-Net", root_path, class:"navbar-brand" %></b><!--<a class="navbar-brand" href="#"><b>NKU-Net</b></a>-->
    		</div>

    		<div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><p class="navbar-text"><%= link_to current_user.name, show_user_path(current_user.id) %></p></li>
              <li><%= link_to 'Portal', portal_path %></li>
              <li><%= link_to 'Add Student', new_user_path %></li>
              <li><%= link_to 'Add Course', new_course_path %></li>
              <li><%= link_to 'My Courses', user_courses_path %></li>
              <li><%= link_to 'Preview Courses', courses_path %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Logout", '/logout' %></li>
            </ul>
          
    		</div>
    		
    	</div>
    </nav>
    
    <!-- BREADCRUMBS -->
    <% if defined? @breadcrumbs %>
      <ol class="breadcrumb">
        <% @breadcrumbs.first(@breadcrumbs.length-1).each do |breadcrumb| %>
          <li><%= link_to breadcrumb.name, breadcrumb.path, class: "breadcrumb-item" %></li>
        <% end %>
        <li><%= link_to @breadcrumbs.last.name, @breadcrumbs.last.path, class: "breadcrumb-item active" %></li>
      </ol>
    <% end %>
  </div>