<!DOCTYPE html>
<html>
<head>
  <title>NKU-Net</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap CDN References -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <% if current_user && is_registrar? %>
    <%= render :partial => 'layouts/registrar', :formats => [:html] %>
  <%elsif current_user && is_admin? %>
    <%= render :partial => 'layouts/admin', :formats => [:html] %>
  <% else %>
    <%= render :partial => 'layouts/default', :formats => [:html] %>
  <% end %>  
  <!-- Rendering of the current page. -->
  <div class="container">
    <!--<div class="row">-->
      
    <!--</div>-->
 	  <div class="row">
    	<div class="col-md-12">
        <%= yield %>
      </div>
  	</div>
  </div>



  <!-- Footer that will have contact information. -->
  <hr />
  <div class="container" id="footer">
  	Copyright &#x24B8; 2017 Team Super-Ghost Development
  </div>

</body>
</html>
